<div class="container max-w-[960px] mx-auto mt-8">
  <a (click)="getUnitTestBenefit()" class="text-2xl text-[#0d8300] font-bold" role="button">Lợi ích của Unit test là gì?</a>
  @if (listUnitTestBenefit.length) {
    <ol class="list-decimal ml-4 mt-4">
      @for (item of listUnitTestBenefit; track $index) {
        <li><strong>{{item.label}}</strong></li>
        <ul class="list-disc ml-4 mb-4">
          @for (sub of item.expandContent; track $index) {
            <li>{{sub}}</li>
          }
        </ul>
      }
    </ol>
  }
  <br><br>
  <a (click)="getListFramework()" class="text-2xl text-[#0d8300] font-bold" role="button">Các framework testing phổ biến?</a>
  @if (listFramework.length) {
    <div class="flex items-center gap-8 ml-4 mt-4">
      @for (item of listFramework; track $index) {
        <div (click)="triggerOnFramework(item)" role="button">
          <img [src]="item.img" [alt]="item.name" width="200" [class.opacity-0]="item.hidden">
        </div>
      }
    </div>
  }
  @if (feature.length) {
    <h3 class="font-bold text-xl">Đặc điểm</h3>
    <ul class="list-disc ml-4 my-4">
      @for (item of feature; track $index) {
        <li>{{item}}</li>
      }
    </ul>
  }
</div>
